{{define "yield"}}
    <h1>Get In touch!</h1>
    <p>
        To get in touch, please send an email to
        <a href="mailto:support@lenslocked.com">
            support@lenslocked.com
        </a>
    </p>
{{end}}